
.remove-wishlist-btn{
    background-color: #d63031;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    width: 42px;
    color: #fff;
    margin-top: 7px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.wishlist-items-container {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.wishlist-page h3 {
    margin: 29px 167px;
    /* border-bottom: 1px solid; */
}

.wishlists {
    border: 1px solid #f2f2f2;
    padding: 14px;
}
